@media(max-width: 1650px) {

    .container {
        padding: 0 30px;
    }

    .location__inner {
        padding-left: 30px;
    }

    .center {
        padding-left: 30px;
        padding-right: 30px;
    }

    .main {

        background-position: 620px 90px;
    }

    .main__title {
        font-size: 60px;
        line-height: 68px;
        margin-bottom: 10px;
    }


}

@media(max-width: 1550px) {

    .location__circle {
        width: 29px;
        height: 29px;
        margin: 0px 8px;
    }

    .location__dots span {
        font-size: 20px;
        line-height: 46px;
    }

    .services__item {
        width: 320px;
    }

    .location {
        background-size: 875px;
        background-position: right 30px;
    }

    .location__map-box {
        width: 853px;
        top: -139px;
    }

    .location__dots-1 {
        bottom: 160px;
        left: 314px;
    }

    .location__dots-3 {
        bottom: 253px;
        left: 215px;
    }

    .location__dots-4 {
        bottom: 340px;
        left: 190px;
    }

    .location__dots-5 {
        bottom: 452px;
        left: 300px;
    }

    .location__dots-6 {
        right: 60px;
        bottom: 534px;
    }

    .location__dots-7 {
        bottom: 637px;
        right: 249px;
    }
}

@media(max-width: 1440px) {
    .contacts__inner {
        top: 90px;
    }

    #map {
        height: 800px;
    }

    .partners__inner {
        flex-wrap: wrap;
    }

    .partners__content {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .partners__items {
        margin: 0 auto;
    }

    .services__item {
        padding: 42px 38px 35px 38px;
    }

    .servisec-conatiner {
        padding: 0 0 0 30px;
    }

    .services__item {
        margin-right: 30px;
        margin-bottom: 45px;
        height: 368px;
    }

    .about__content {
        max-width: 584px;

        &:nth-child(1) {
            margin-right: 30px;
        }

        &:nth-child(2) {
            margin-left: 70px;
        }
    }

    .contacts__inner {
        max-width: 519px;
        padding: 51px 42px 46px 55px;
    }

    .main__img {
        width: 70%;
        height: auto;
    }

    .services {
        padding-bottom: 62px;
    }

    .services__items {
        margin-bottom: 15px;
    }
}

@media(max-width: 1370px) {
    .location__content {
        max-width: 790px;
    }

    .location__map-box {
        top: -179px;
    }

    .location {
        background-position: right -80px;
        padding-bottom: 700px;
        padding-top: 0;
    }
}

@media(max-width: 1290px) {}

@media(max-width: 1220px) {
    .header li+li {
        margin-left: 36px;
    }

    .header__link {
        padding: 11px 14px;
    }

    .about__inner {
        flex-wrap: wrap;

        &:nth-child(2) {
            flex-direction: column-reverse;
        }
    }

    .about__content {
        max-width: 100%;
        margin-bottom: 80px;
    }

    .about__content:nth-child(1) {
        margin-right: 0;
    }

    .about__content:nth-child(2) {
        margin-left: 0;
        order: 2;
    }

    .about__img-bottom {
        max-width: 600px;
        order: 1;
    }

    .services__item {
        height: 408px;
    }

    .services {
        background-color: #F4F4F4;
        border-top-right-radius: 60px;
        padding: 66px 0 62px;
    }

    .about {
        padding: 85px 0 248px;
    }

    .main__img {
        width: 60%;
        height: auto;
    }

    .order__container {
        max-width: 1164px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .location__content {
        max-width: 100%;
    }

    .location__map-box {
        top: -97px;
    }

    .location {
        background-position: right 120px;
        padding-bottom: 900px;
    }
}

@media(max-width: 1165px) {
    .teeth-18 {
        padding: 1vw 2.3vw;
        margin-left: 1.4em;
    }

    .teeth-17 {
        padding: 1vw 2.6vw;
    }

    .teeth-16 {
        padding: 1vw 2.6vw;
    }

    .teeth-15 {
        padding: 1vw 1.9vw;
    }

    .teeth-14 {
        padding: 1vw 2vw;
    }

    .teeth-13 {
        padding: 1vw 1.6vw;
    }

    .teeth-12 {
        padding: 1vw 1.3vw;
    }

    .teeth-11 {
        padding: 1vw 1.7vw;

    }

    .teeth-21 {
        padding: 1vw 2vw;
    }

    .teeth-22 {
        padding: 1vw 0.7vw;
    }

    .teeth-23 {
        padding: 1vw 1.7vw;
    }

    .teeth-24 {
        padding: 1vw 1.7vw;
    }

    .teeth-25 {
        padding: 1vw 1.7vw;
    }

    .teeth-26 {
        padding: 1vw 2.6vw;
    }

    .teeth-27 {
        padding: 1vw 2.4vw;
    }

    .teeth-28 {
        padding: 1vw 2.2vw;
    }

    .teeth__box-checkbox+label {
        font-size: 1.5vw;
        line-height: 2.6vw;
    }

    .teeth__inner.bottom {
        .teeth__box-label {
            width: auto;
            margin-left: 0.3vw;
        }

        .teeth-48 {
            width: auto;
            padding: 1.1vw 2.1vw 1.2vw;
            margin-left: 2.5rem;
        }

        .teeth-47 {
            padding: 1.1vw 2.6vw 1.2vw;
        }

        .teeth-46 {
            padding: 1.1vw 2.8vw 1.2vw;
        }

        .teeth-45 {
            padding: 1.1vw 1.6vw 1.2vw;
        }

        .teeth-44 {
            padding: 1.1vw 1.2vw 1.2vw;
        }

        .teeth-43 {
            padding: 1.1vw 1.5vw 1.2vw;
        }

        .teeth-42 {
            padding: 1.1vw 0.9vw 1.2vw;
        }

        .teeth-41 {
            padding: 1.1vw 1.1vw 1.2vw;
        }

        .teeth-31 {
            padding: 1.1vw 1vw 1.2vw;
        }

        .teeth-32 {
            padding: 1.1vw 0.9vw 1.2vw;
        }

        .teeth-33 {
            padding: 1.1vw 1.4vw 1.2vw;
        }

        .teeth-34 {
            padding: 1.1vw 1.4vw 1.2vw;
        }

        .teeth-35 {
            padding: 1.1vw 1.6vw 1.2vw;
        }

        .teeth-36 {
            padding: 1.1vw 3.1vw 1.2vw;
        }

        .teeth-37 {
            padding: 1.1vw 2.5vw 1.2vw;
        }

        .teeth-38 {
            padding: 1.1vw 2.2vw 1.2vw;
        }

    }
}

@media(max-width: 1100px) {
    .header__menu-btn {
        display: block;
    }

    .header__inner {
        padding: 23px 0;
    }

    .header__link {
        margin-left: 0;
        border-radius: 21px;
        font-size: 14px;
        line-height: 17px;
    }

    .header__content {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        top: -10000px;
        height: 0;
        opacity: 0;
        background-color: #fff;
        transition: all 1s ease-in-out;
        align-items: center;
        justify-content: center;

        &.open {
            top: -180px;
            height: 100vh;
            opacity: 1;
        }
    }

    .header__menu {
        display: flex;
        flex-direction: column;
    }

    .header li {
        margin-bottom: 19px;
    }

    .header li+li {
        margin-left: 0;
    }

    .main {

        padding-top: 130px;
        padding-bottom: 50px;

        &::before {
            display: none;
        }
    }

    .partners {
        padding-bottom: 47px;
    }

    .teeth__inner.bottom {
        .teeth-47 {
            padding: 1.1vw 2.4vw 1.2vw;
        }

        .teeth__box-label {
            padding-top: 0;
            padding-bottom: 1.8vw;
        }

        .teeth-48 {
            margin-left: 2.3rem;
        }
    }
}

@media(max-width: 1076px) {
    .location__map-box {
        top: -137px;
    }
}

@media(max-width: 1024px) {
    .advanages__inner {
        flex-direction: column;
        align-items: center;
        padding: 59px 0 27px;
        width: 50%;
        margin: 0 auto;

        &::before {
            left: 50%;
            top: -66px;
            transform: rotate(90deg);
        }
    }

    .advanages__item {
        margin-bottom: 32px;
    }

    .advanages__item-icon {
        position: inherit;
        top: 0;
        margin-bottom: 15px;
    }

    .contacts {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacts__inner {
        position: inherit;
        max-width: 100%;
        padding: 0;
        background: transparent;
        box-shadow: none;
        margin-bottom: 32px;

        &::before {
            display: none;
        }
    }

    .contacts__title {
        margin-bottom: 23px;
    }

    #map {
        height: 550px;
    }

    .footer__privice {
        display: none;
    }

    .footer {
        padding: 22px 0;
        border-width: 2px;
    }

    .footer__lava-label {
        display: block;
        font-size: 10px;
        line-height: 14px;
        color: #575757;
        margin-bottom: 5px;
    }

    .footer__lava {
        &:hover {

            &::before,
            &::after {
                height: 0;
            }
        }

        span {
            &:hover {

                &::before,
                &::after {
                    width: 0%;
                }
            }
        }

        img {
            width: 88px;
            border: 2px solid #575757;
        }
    }

    .order {
        padding: 147px 0 64px;
    }
}

@media(max-width: 950px) {
    .teeth-21 {
        padding: 1vw 1.7vw;
    }

    .teeth-17 {
        padding: 1vw 2.5vw;
    }

    .teeth__inner.bottom {
        .teeth__box-label {
            padding-top: 2.3px;
            padding-bottom: 0.9vw;
        }

        .teeth-48 {
            margin-left: 2rem;
        }

        .teeth-46 {
            padding-left: 3vw;
            padding-right: 3vw;
        }

        .teeth-36 {
            padding-left: 2.9vw;
            padding-right: 2.9vw;
        }
    }
}

@media(max-width: 768px) {
    .main {
        background-position: 230px 70px;
    }

    .main__inner {
        flex-direction: column;
    }

    .main__img {
        margin: 37px auto 0;
        width: 100%;
    }

    .partners .container {
        padding: 0 0 0 30px;
    }

    .partners__content {
        padding-right: 30px;
    }

    .partners__item {
        margin-top: 25px;
        padding: 20px 70px;
    }

    .partners__item:nth-child(4) {
        margin-left: 0;
    }

    .partners__items {
        margin: 0 auto;
        flex-wrap: nowrap;
        overflow-y: scroll;
        justify-content: flex-start;
    }

    .about {
        padding: 85px 0 98px;
    }

    .about::before {
        display: none;
    }

    .about__img img {
        max-width: 438px;
        width: 100%;
    }

    .about__img-bottom {
        max-width: 440px;
    }

    .about__inner:nth-child(1) {
        margin-bottom: 60px;
    }

    .advanages__inner {
        width: 283px;
    }

    .advanages__item-icon {
        width: 78px;
        height: 78px;
        margin: 0 auto 15px;

        img {
            width: 42px;
        }
    }

    .advanages__item-title {
        font-size: 15px;
        line-height: 21px;
    }

    #map {
        height: 400px;
    }

    .advanages {
        padding-bottom: 46px;
    }

    .order__title {
        font-size: 40px;
        line-height: 46px;
    }

    .order__form-input {
        margin: 0 auto 30px;
        padding: 0px 10px 13px 0;
        font-size: 20px;
        line-height: 20px;

        &::placeholder {
            font-size: 18px;
            line-height: 20px;
        }
    }

    .order__form-textarea {
        padding: 16px 10px;
    }

    .order__form-btn {
        margin: 28px 0 20px;
    }

    .center {
        padding-left: 15px;
        padding-right: 15px;
    }

    .teeth__box-checkbox+label::before {
        height: 85px;
    }

    .teeth__box-label {
        margin-right: -0.2px;
    }

    .teeth-17 {
        padding: 1vw 2.4vw;
    }

    .teeth-22 {
        padding: 1vw 1.1vw;
    }

    .teeth-23 {
        padding: 1vw 1.5vw;
    }

    .teeth-26 {
        padding: 1vw 2.4vw;
    }

    .teeth-27 {
        padding: 1vw 2.3vw;
    }

    .teeth__inner.bottom {
        .teeth-48 {
            margin-left: 1.6rem;
        }

        .teeth-41 {
            padding-left: 0.7vw;
            padding-right: 0.7vw;
        }

        .teeth__box-label::after {
            bottom: 26px;
            height: 182%;
        }
    }

    .location {
        background-size: 575px;
        background-position: right 400px;
        padding-bottom: 630px;
    }

    .location__map-box {
        top: 11px;
        width: 620px;
    }

    .location__dots span {
        font-size: 12px;
        line-height: 20px;
    }

    .location__circle {
        width: 11px;
        height: 11px;
        margin: 0px 5px;
    }

    .location__dots-1 {
        bottom: 180px;
        left: 271px;
    }

    .location__dots-2 {
        bottom: 215px;
        left: 100px;
    }

    .location__dots-3 {
        bottom: 243px;
        left: 205px;
    }

    .location__dots-4 {
        bottom: 300px;
        left: 182px;
    }

    .location__dots-5 {
        bottom: 372px;
        left: 250px;
    }

    .location__dots-6 {
        right: 48px;
        bottom: 436px;
    }

    .location__dots-7 {
        bottom: 500px;
        right: 179px;
    }
}

@media(max-width: 710px) {
    .location__map-box {
        top: -30px;
    }
}

@media(max-width: 640px) {
    .location__map-box {
        top: -70px;
    }
}

@media(max-width: 620px) {
    .title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .suptitle {
        font-size: 10px;
        line-height: 12px;
        padding-left: 49px;
        margin-bottom: 9px;

        &::before {
            width: 41px;
            top: 6px;
        }

    }

    .btn {
        padding: 12px 16px;
        font-size: 10px;
        line-height: 12px;

        svg {
            width: 12px;
            margin-left: 9px;
        }
    }

    .text {
        font-size: 12px;
        line-height: 19px;
    }

    .main {
        padding-top: 120px;
    }

    .main__title {
        font-size: 20px;
        line-height: 26px;
    }

    .main__text {
        margin: 0 0 17px;
    }

    .main__link {
        display: flex;
        align-items: center;
        width: 160px;
    }

    .partners__title {
        margin-bottom: 13px;
    }

    .partners__content {
        margin-bottom: 0;
    }

    .about__img img {
        max-width: 438px;
        width: 100%;
    }

    .about__img::after {
        width: 37px;
        height: 40px;
    }

    .about__img-top {
        &:after {
            bottom: -28px;
        }

        &::before {
            top: -20px;
            right: -20px;
        }
    }

    .about__img-bottom {
        &::after {
            right: -27px;
        }

        &::before {
            bottom: -10px;
            right: 14px;
        }
    }

    .about__inner:nth-child(1) {
        margin-bottom: 40px;
    }

    .about {
        padding: 25px 0 58px;
        background-size: 0;
    }

    .about__content {
        margin-bottom: 30px;
    }

    .contacts__info-title {
        font-size: 15px;
        line-height: 20px;
        padding-left: 20px;

        &::before {
            top: 2px;
        }
    }

    .contacts__info-text {
        font-size: 12px;
        line-height: 17px;
        padding-left: 20px;
    }

    .contacts__info-addres::before {
        width: 9px;
        height: 13px;
    }

    .contacts__info-work::before {
        width: 11px;
        height: 11px;
    }

    .contacts__info-phone::before {
        width: 12px;
        height: 12px;
    }

    .contacts__info-mail::before {
        width: 12px;
        height: 8px;
        top: 5px;
    }

    #map {
        height: 236px;
    }

    .services {
        background-color: #F4F4F4;

        padding: 46px 0 42px;
    }

    .services__items {
        margin: 27px 0 0px;
    }

    .services__item {
        padding: 21px 22px 24px 24px;
        height: 257px;
        width: 220px;
    }

    .services__item-icon {
        width: 43px;
        height: 43px;

        img {
            width: 20px;
        }
    }

    .services__item-title {
        font-size: 20px;
        line-height: 26px;
        margin: 21px 0 14px;
    }

    .services__item-text {
        font-size: 12px;
        line-height: 18px;
    }

    .order__form-input {
        &::placeholder {
            font-size: 15px;
            line-height: 20px;
        }
    }

    .order {
        padding: 97px 0 64px;
    }

    .order__title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 36px;
    }

    .order__form-btn {
        margin: 0px 0 20px;
        display: flex;
        align-items: center;
    }

    .order__form-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teeth-21 {
        padding: 1vw 1.5vw;
    }

    .teeth-14 {
        padding: 1vw 1.8vw;
    }

    .teeth-13 {
        padding: 1vw 1.4vw;
    }

    .teeth__box-checkbox+label::before {
        height: 60px;
    }

    .teeth__inner.bottom {
        .teeth-48 {
            margin-left: 3.2vw;
        }

        .teeth-46 {
            padding-left: 2.4vw;
            padding-right: 3.1vw;
        }

        .teeth-43 {
            padding-left: 1.3vw;
            padding-right: 1.3vw;
        }

        .teeth-33 {
            padding-left: 1.6vw;
            padding-right: 1.6vw;
        }

        .teeth-36 {
            padding-left: 2.6vw;
            padding-right: 2.7vw;
        }

        .teeth__box-label::after {
            bottom: 16px;
            height: 212%;
        }
    }

    .location__text {
        margin: 15px 0 17px;
    }


    .location__map-box {
        top: 82px;
        width: 455px;
    }

    .location {
        background-size: 355px;
        background-position: right 190px;
        padding-bottom: 390px;
    }

    .location__dots-1 {
        bottom: 196px;
        left: 236px;
    }

    .location__dots-3 {
        bottom: 234px;
        left: 196px;
    }

    .location__dots-4 {
        bottom: 267px;
        left: 182px;
    }

    .location__dots-5 {
        bottom: 312px;
        left: 230px;
    }

    .location__dots-6 {
        right: 24px;
        bottom: 352px;
    }

    .location__dots-7 {
        bottom: 393px;
        right: 79px;
    }

    .location__content {
        max-width: 335px;
    }
}

@media(max-width: 550px) {
    .teeth__box-checkbox+label {
        font-size: 1.5vw;
        line-height: 1.9vw;
    }

    .teeth-16 {
        padding: 1vw 2.3vw;
    }

    .teeth-15 {
        padding: 1vw 1.8vw;
    }

    .teeth-21 {
        padding: 1vw 1.7vw;
    }

    .teeth-23 {
        padding: 1vw 1.2vw;
    }

    .teeth-26 {
        padding: 1vw 2.2vw;
    }

    .teeth-13 {
        padding: 1vw 1.8vw;
    }

    .teeth-12 {
        padding: 1vw 1.2vw;
    }

    .teeth__inner.bottom {
        .teeth-41 {
            padding-left: 0.8vw;
            padding-right: 0.8vw;
        }

        .teeth-33 {
            padding-left: 1.3vw;
            padding-right: 1.2vw;
        }

        .teeth-37 {
            padding-left: 2.7vw;
            padding-right: 2.7vw;

        }
    }
}

@media(max-width: 425px) {
    .teeth-18 {
        padding: 1vw 2.2vw;
    }

    .teeth-15 {
        padding: 1vw 1.7vw;
    }

    .teeth-17 {
        padding: 1vw 2.3vw;
    }

    .teeth-12 {
        padding: 1vw 1vw;
    }

    .teeth-21 {
        padding: 1vw 1.6vw;
    }

    .teeth-22 {
        padding: 1vw 0.9vw;
    }

    .teeth-24 {
        padding: 1vw 1.8vw;
    }

    .teeth__box-checkbox+label::before {
        height: 42px;
    }

    .teeth__inner.bottom {
        margin-top: -5px;

        .teeth__box-label {
            padding-top: 0;
            padding-bottom: 2.8vw;
        }

        .teeth__box-label::after {
            bottom: 0;
            height: 246%;
        }

        .teeth-48 {
            padding: 0vw 1.9vw 2.8vw;
        }

        .teeth-44 {
            padding: 0vw 1vw 2.8vw;
        }

        .teeth-42 {
            padding: 0vw 0.8vw 2.8vw;
        }

        .teeth-43 {
            padding: 0vw 1.3vw 2.8vw;
        }

        .teeth-32 {
            padding: 0vw 0.7vw 2.8vw;
        }

        .teeth-37 {
            padding: 0vw 2.4vw 2.8vw;
        }


    }

}

@media(max-width: 375px) {
    .main__img {
        max-width: 269px;
        height: 240px;
    }

    .teeth__box-checkbox+label::before {
        height: 35px;
    }

    .teeth-13 {
        padding: 1vw 1.4vw;
    }

    .teeth-28 {
        padding: 1vw 1.9vw;
    }

    .teeth__inner.bottom {

        .teeth-46 {
            padding: 0vw 2.4vw 2.8vw;
        }

        .teeth-43 {
            padding: 0vw 1.1vw 2.8vw;
        }

        .teeth-38 {
            padding: 0vw 1.8vw 2.8vw;
        }

        .teeth-48 {
            padding: 0vw 1.7vw 2.8vw;
        }
    }

    .location {
        background-size: 285px;
        background-position: right 230px;
        padding-bottom: 390px;
    }

    .location__map-box {
        top: 43px;
        width: 381px;
    }

    .location__dots-1 {
        bottom: 190px;
        left: 196px;
    }

    .location__dots-2 {
        bottom: 204px;
        left: 77px;
    }

    .location__dots-3 {
        bottom: 218px;
        left: 170px;
    }

    .location__dots-4 {
        bottom: 244px;
        left: 162px;
    }

    .location__dots-5 {
        bottom: 282px;
        left: 198px;
    }

    .location__dots-6 {
        right: 17px;
        bottom: 312px;
    }

    .location__dots-7 {
        right: 47px;
        bottom: 344px;
    }
}

@media(max-width: 340px) {
    .order__form-privecy {
        width: 248px;
    }

    .teeth-18 {
        padding: 1vw 2vw;
    }

    .teeth-17 {
        padding: 1vw 2.4vw;
    }

    .teeth-16 {
        padding: 1vw 2.2vw;
    }

    .teeth-15 {
        padding: 1vw 1.5vw;
    }

    .teeth-13 {
        padding: 1vw 1.3vw;
    }

    .teeth-24 {
        padding: 1vw 1.6vw;
    }

    .teeth-26 {
        padding: 1vw 2.1vw;
    }

    .location__map-box {
        top: 22px;
        width: 381px;
    }
}

@media(max-width: 320px) {
    .advanages__inner {
        width: 242px;
    }

    .teeth__inner.bottom {
        .teeth-47 {
            padding: 0vw 2.3vw 2.8vw;
        }

        .teeth-48 {
            padding: 0vw 1.6vw 2.8vw;
        }

        .teeth-33 {
            padding-left: 1.2vw;
            padding-right: 1.2vw;
        }

        .teeth-35 {
            padding: 0vw 1.3vw 2.8vw;
        }

        .teeth-37 {
            padding: 0vw 2.5vw 2.8vw;
        }

        .teeth-36 {
            padding-left: 2.6vw;
            padding-right: 2.5vw;
        }
    }

}